[Desktop Entry]
Type=Application
Version=1.0
Name=Install EpsteinOS
Comment=Launch the EpsteinOS installer
Exec=pkexec calamares
Icon=drive-harddisk
Terminal=false
Categories=System;Settings;
StartupNotify=true
