[Desktop Entry]
Type=Application
Version=1.0
Name=Install xleaxOS
Comment=Launch the xleaxOS installer
Exec=pkexec calamares
Icon=drive-harddisk
Terminal=false
Categories=System;Settings;
StartupNotify=true